<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="../static/javaex/pc/css/common.css" rel="stylesheet" />
	<link href="../static/javaex/pc/css/skin/tina.css" rel="stylesheet" />
	<script src="../../javaex/pc/lib/jquery-1.7.2.min.js"></script>
	<title>Admin</title>
</head>

<body>
<div class="list-content">
	<div class="block">
        <h2>Employees<button class="button" style="margin-left: 81vw" onclick="window.location.href='/'">Log Out</button></h2>
		<div class="main">
			<div class="admin-search">

				<div class="input-group">
					<button id="searchBtn" class="button blue" onclick="search();">Search</button>
                    <form class="basic-grey" id="get" name='get' action="/index/get" method="post" style="visibility: hidden; display: none">
                        EEID: <input type="text" name="EEID" id="EEID">
                        Full Name: <input type="text" name="Full Name" id="Full Name"><br>
                        Job Title: <input type="text" name="Job Title" id="Job Title">
                        Department: <input type="text" name="Department" id="Department"><br>
                        Business Unit: <input type="text" name="Business Unit" id="Business Unit">
                        Gender: <input type="text" name="Gender" id="Gender"><br>
                        Age: <input type="number" name="Age" id="Age">
                        Hire Date: <input type="text" name="Hire Date" id="Hire Date"><br>
                        Annual Salary: <input type="number" name="Annual Salary" id="Annual Salary">
                        Bonus %: <input type="text" name="Bonus %" id="Bonus %"><br>
                        Country: <input type="text" name="Country" id="Country">
                        Exit Date: <input type="text" name="Exit Date" id="Exit Date">

                        <input type="submit" value="Submit">
                    </form>
				</div>
			</div>

			<div class="operation-wrap">
				<div class="buttons-wrap">
					<button class="button blue radius-3" onclick="window.location.href='/index'"><span class="icon-plus"></span> Get All (Clear Filters)</button>
                    <button class="button blue radius-3" onclick="puta();">Insert</button>
                    <form id="put" name='put' action="/index/put" method="post" style="visibility: hidden; display: none">
                        EEID: <input type="text" name="EEID" id="EEID">
                        Full Name: <input type="text" name="Full Name" id="Full Name"><br>
                        Job Title: <input type="text" name="Job Title" id="Job Title">
                        Department: <input type="text" name="Department" id="Department"><br>
                        Business Unit: <input type="text" name="Business Unit" id="Business Unit">
                        Gender: <input type="text" name="Gender" id="Gender"><br>
                        Age: <input type="number" name="Age" id="Age">
                        Hire Date: <input type="text" name="Hire Date" id="Hire Date"><br>
                        Annual Salary: <input type="number" name="Annual Salary" id="Annual Salary">
                        Bonus %: <input type="text" name="Bonus %" id="Bonus %"><br>
                        Country: <input type="text" name="Country" id="Country">
                        Exit Date: <input type="text" name="Exit Date" id="Exit Date">

                        <input type="submit" value="Submit">
                    </form>
				</div>
			</div>

			<table id="table" class="table color2">
				<thead>
				<tr align="center">
					<th>EEID</th>
					<th>Full Name</th>
					<th>Job Title</th>
					<th>Department</th>
					<th>Business Unit</th>
					<th>Gender</th>
					<th>Age</th>
					<th>Hire Date</th>
					<th>Annual Salary</th>
                    <th>Bonus %</th>
                    <th>Country</th>
                    <th>Exit Date</th>
					<th>Modify</th>
				</tr>
                {% for i in data%}
                <tr align="center">
					<th name="{{ i['EEID'] }}">{{ i['EEID'] }}</th>
                    <th>{{ i['Full Name'] }}</th>
                    <th>{{ i['Job Title'] }}</th>
                    <th>{{ i['Department'] }}</th>
                    <th>{{ i['Business Unit'] }}</th>
                    <th>{{ i['Gender'] }}</th>
                    <th>{{ i['Age'] }}</th>
                    <th>{{ i['Hire Date'] }}</th>
                    <th>{{ i['Annual Salary'] }}</th>
                    <th>{{ i['Bonus %'] }}</th>
                    <th>{{ i['Country'] }}</th>
                    <th>{{ i['Exit Date'] }}</th>
                    <th><button class="button blue" name="{{ i['EEID'] }}" onclick="upd1(name)">Update</button><button name="{{ i['EEID'] }}" class="button red" onclick="del(name);">Delete </button></th>

                    <form method="post" action="/index/del"  id="{{ i['EEID'] }}d">
                        <input type="hidden" name="eid" value="{{ i['EEID'] }}" id="eid">
                    </form>
				</tr>
                    <div  id="{{ i['EEID'] }}" style="visibility: hidden; display: none; border:1px solid #96c2f1;background:#eff7ff; position: fixed; left: 30vw">
                    <form name='upd' action="/index/upd" method="post">
                        EEID: <input type="text" name="EEID" id="EEID" value="{{ i['EEID'] }}" readonly>
                        Full Name: <input type="text" name="Full Name" id="Full Name" value="{{ i['Full Name'] }}"><br>
                        Job Title: <input type="text" name="Job Title" id="Job Title" value="{{ i['Job Title'] }}">
                        Department: <input type="text" name="Department" id="Department" value="{{ i['Department'] }}"><br>
                        Business Unit: <input type="text" name="Business Unit" id="Business Unit" value="{{ i['Business Unit'] }}">
                        Gender: <input type="text" name="Gender" id="Gender" value="{{ i['Gender'] }}"><br>
                        Age: <input type="number" name="Age" id="Age" value="{{ i['Age'] }}">
                        Hire Date: <input type="text" name="Hire Date" id="Hire Date" value="{{ i['Hire Date'] }}"><br>
                        Annual Salary: <input type="number" name="Annual Salary" id="Annual Salary" value="{{ i['Annual Salary'] }}">
                        Bonus %: <input type="text" name="Bonus %" id="Bonus %" value="{{ i['Bonus %'] }}"><br>
                        Country: <input type="text" name="Country" id="Country" value="{{ i['Country'] }}">
                        Exit Date: <input type="text" name="Exit Date" id="Exit Date" value="{{ i['Exit Date'] }}">
                        <input type="submit" value="Submit">
                    </form>
                    </div>

                {% endfor %}
				</thead>
				<tbody id="tbody">
				<!--<tr>-->
				<!--<td class="checkbox"><input type="checkbox" class="fill listen-1-2" /> </td>-->
				<!--<td>1</td>-->
				<!--</tr>-->
				</tbody>
			</table>

			<div class="page">
				<ul id="page" class="pagination"></ul>
			</div>
		</div>
	</div>
</div>


<script>
    function search() {
        var get = document.getElementById('get');
        get.style.display = '';
        get.style.visibility = 'visible';

    }
    function puta() {
        var put = document.getElementById('put');
        put.style.display = '';
        put.style.visibility = 'visible';

    }
    function upd1(id1) {
        var upd = document.getElementById(id1);
        upd.style.display = '';
        upd.style.visibility = 'visible';

    }
    function del(id1) {
        var form = document.getElementById(id1+'d');
        form.submit();
    }


</script>
<style>
    .basic-grey {
        margin-left: auto;
        margin-right:auto;
        max-width: 500px;
        background: #F7F7F7;
        padding: 25px 15px 25px 10px;
        font: 12px Georgia, "Times New Roman", Times, serif;
        color: #888;
        text-shadow: 1px 1px 1px #FFF;
        border:1px solid #E4E4E4;

    }
</style>
</body>
</html>